{{!-- <div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Project:</h3>

    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">project name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      <div class="form-group">
        <label for="project-funding">needed funding ($):</label>
        <input class="form-input" type="number" id="project-funding" name="project-funding" />
      </div>
      <div class="form-group">
        <label for="project-desc">description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div> --}}

  {{!-- {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/dashboard.js"></script>
{{#if posts.length}}
<div id="dashboard">
  <div>
    <h3>DASHBOARD</h3>
  </div>
  <div class="dash_body">
    <h4>:</h4>
    {{#each posts as |post|}}
      <section class="user_articles">
        <li>{{article.title}}</li>
        <h5 class="date" id="date">{{format_date article.date_created}}</h5>
      </section>
    {{/each}}
    <button id="post"><a href="/create">
        <h3>+ NEW POST</h3></a>
    </button>
  </div>
</div> --}}




 <div>
    <h3>DASHBOARD</h3>
  </div>




<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{username}}!</h2>
  </div>
</div>
<h2> Current Posts</h2>
{{#if posts.length}}
{{#each posts as |post| }}
<a href="/editpost/{{post.id}}">
  <section>
    
            <div class="P-title">
              <h3>{{title}}</h3>
            </div>
            <div class="content">
              <p>
               {{content}} 
              </p>
            </div>
              <div class="date-post">
                
                <h5 id="date">Posted on {{format_date post.date_created}}</h5>
              </div>
           
  </section>
  </a>
{{/each}}
{{/if}}
<button type="submit" class="btn"><a class="link" href="/newpost">+ New Post</a></button>

{{!-- <script src="./js/new-dashboard.js"></script> --}}