<p>home</p>
<section>
  <div class="P-title">
              <h3>{{title}}</h3>
            </div>
            <div class="content">
              <p>
               {{content}} 
              </p>
            </div>
              <div class="date-post">
                
                <h5 id="date">Posted by {{user.username}} on {{format_date date_created}}</h5>
              </div>

    {{! Displays all existing comments }}
      {{#each comments}}
    <div class="comments_container">
        <h4 id="comment_content">{{comment_text}}</h4>
        {{!-- <h4 id="comment_username">-{{user.username}}</h4>
        <h4 id="comment_date">{{format_date date_created}}</h4> --}}
    </div>
      {{/each}}

    {{! If logged in, user can comment }}
    {{#if logged_in}}
      <div class="new-comment-form">
        <div class="comments">
          <li id="adjust">COMMENT?</li>
          <textarea id="article_content" class="comment_text"></textarea>
          <button id="comment"><h3>SUBMIT</h3></button>
        </div>
      </div>
    {{/if}}

  </div>
</section>
<script src="./js/comment.js"></script>
